---
import LandingPage from "../components/LandingPage.astro";
import SiteHead from "../components/SiteHead.astro";
---

<html lang="en">
  <head>
    <SiteHead title="davenarchives" />
  </head>
  <body>
    <LandingPage />
  </body>
</html>
